### Django ###
*.log
*.pot
*.pyc
.pyc
__pycache__/
**/__pycache__/
**/*.pyc
**/*.sqlite3
**/*.sqlite3-journal
local_settings.py
media

### Environments ###
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
myenv/
/myenv
myenv
myenv.
/myenv.

my-venv

.vscode
./vscode
.DS_STORE


.vscode
vscode
/vscode.
Pipfile
Pipfile.lock
